---
import Layout from '../../../layouts/Layout.astro';
import LibCrud from '../../../lib/LibCrud';
import type { Post } from '../index.astro';

//
const { id } = Astro.params;
console.log(id);
let item: any = await LibCrud.get(Number(id));
console.log(item);
---
<!-- -->
<style>
</style>

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
	<main class="container">
		<a class="btn btn-outline-primary" href={`/crud`}>Back</a>
		<hr />		
		<h1>CrudShow</h1>
		<p>Id:{id}</p>
		<p>Name: {item.name}</p>
		<hr />
		<input type="hidden" value={id} id="item_id" />
		<button id="btn_delete" class="btn btn-danger">Delete</button>
	
	</main>
</Layout>
<!-- -->
<script src="../CrudShow.ts"></script>

