---
import Layout from '../../layouts/Layout.astro';
import LibCrud from '../../lib/LibCrud';

export type Post = {
  id: number;
  name: string;
//  content: string;
};
//
const items: Post[]  = await LibCrud.getList();
console.log(items);
---

<Layout title="Welcome to Astro.">
	<main>
		<a href={`/`}>[ Top ]</a>
		<hr />		
		<h1>Crud</h1>
		<p class="instructions">CRUD, sample
		</p>
		<a href={`/crud/create`}>[ Create ]</a>
		<hr />
		<ul>
		  {
			items.map((item) => (
			  <li>
				<a href={`/crud/show/${item.id}`}>{item.name}</a>
				<a href={`/crud/edit/${item.id}`}>[edit]</a>
			  </li>
			))
		  }
		</ul>		
	
	</main>
</Layout>
<!-- -->
<style>
</style>
<!-- -->
<script src="./Crud.ts"></script>
