---
import Layout from '../../../layouts/Layout.astro';
import LibCrud from '../../../lib/LibCrud';
import type { Post } from '../index.astro';

//
const { id } = Astro.params;
console.log(id);
let item: any = await LibCrud.get(Number(id));
console.log(item);
---
<!-- -->
<style>
</style>

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
	<main class="container">
		<a class="btn btn-outline-primary" href={`/crud`}>Back</a>
		<hr />		
		<h1>CrudEdit</h1>
		<p>Id:{id}</p>
		<hr />
		<div class="col-sm-6">
			<input type="hidden" value={id} id="item_id" />
			<input type="text" name="name" id="name" class="form-control" value={item.name}
			/><br />		
			<button id="btn_save" class="btn btn-primary">Save</button>
		</div>
	</main>
</Layout>
<!-- -->
<script src="../CrudEdit.ts"></script>

<!-- <p>Name: {item.name}</p> -->


