---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href={`/`}>[ Top ]</a>
		<hr />		
		<h1>Test</h1>
		<p class="instructions">hoge123
		</p>
	
	</main>
</Layout>
<!-- -->
<style>
</style>
<!-- -->
<script src="./Test.ts"></script>
